html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Prevents horizontal scrolling */
}

body {
    background-color: #d3d3d3; /* Light grey */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.hod-home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

  .hod-bg {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hod-content {
    width: 100%;
    max-width: 1200px;
    min-width: 1000px;
    height: auto;
    min-height: 600px;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative; 
    z-index: 2;
    margin-bottom: 4rem;
    overflow: hidden;
    margin-top: 0;
    padding-top: 0;
}

  .hod-main {
    display: flex;
    margin-top: 2rem;
  }
  
 
  
  /* HOD Info Section */
  .hod-sec {
    display: flex;
    padding: 20px;
    background: white;
    border-bottom: 1px solid black;
    gap: 2rem;
    font-size: 1rem;
    width: 100%;
  }

  .hod-sec p {
    margin-bottom: -1px;
  }
  
  .hod-name {
    color: #8b0000;
    font-weight: bold;
  }
  
  .hod-role {
    color: green;
    font-weight: bold;
  }
  
 

  