.b-header{
  background-color: #1f355e;
  color: #BB942D;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100vw;
}

.b-header-content {
  display: flex;
  align-items: center;
  gap: 15px;
  text-align: left;
}

.b-header-content img {
  height: 50px;
}

.text h1 {
  font-size: 1.5rem;
  margin: 0;
}

.text p {
  font-size: 12px;
  margin: 0;
}

.b-footer {
  background-color: #1f355e;
  color: #BBBBBB;
  padding: 1rem;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}


/* red footer */
.r-footer {
  background-color: #903B57;
  padding: 0.5rem;
  position: fixed;
  bottom: 0;
  left: 0;
  color: white;
  height: auto;
  width: 100%;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 400;
  z-index: 0;
}

/* sidebar */
.sidebar {
  width: 300px;
  left: 5%;
  top: 50%;
  padding: 15px;
  overflow-y: auto;
  font-size: 1rem;
  margin-left: -1rem;
}

.section-title {
  font-weight: 400;
  color: #663399; 
  padding: 10px;
  background-color: #b38b00; 
  display: flex;
  align-items: center;

}

.section-title span {
  margin-left: 6px;
}

.menu {
  list-style-type: none;
  padding: 0;
  background-color: #FFECBA;
  margin-top: 0; 
}

.menu li {
  padding: 10px;
  border-bottom: 0.5px solid #ddd;
  cursor: pointer;
  /* font-size: 14px; */
  color: #903B57;
}

.menu li:hover {
  text-decoration: underline;
  background-color: #FFECBA;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    position: relative;
    height: auto;
  }
}

/* activity header */

.a-header {
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  background-color: white;
  height: 130px;
  width: 100%;
  top: 0;
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.a-header-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  position: relative;
  z-index: 2;
  background-color: #b38b00;
  height: 100%;
  top: 0;
  border-bottom-left-radius: 60px;
  padding: 0;
}

.logo {
  height: 125px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
  position: relative;
  z-index: 100;
}

.a-header-text{
  background-color: #b38b00;
  padding: 10px 20px;
  border-radius: 8px;
  z-index: 2;
  /* margin-left: 8rem; */
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  white-space: nowrap;

}

.a-header-text h1 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.a-header-text p {
  font-size: 14px;
  margin: 0;
  font-weight: bold;
}

.wave-svg{
  position: absolute;
  height:90px;
  left: 0px;
}


/* red header */
.r-header {
  background-color: #903B57;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 1;
  overflow: hidden;
}


/* Dropdown */
.dropdown {
  position: relative;
  display: flex;
  width: 250px;
  margin: 10px;
  align-items: center;
}

.dropdown-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 10px;
  width: 150px;
}

.dropdown-wrapper select {
  width: 85px;
  padding: 5px;
  font-size: 12px;
  font-weight: 600;
  border: 1px solid black;
  border-radius: 5px;
  background: rgb(235, 235, 235);
  cursor: pointer;
  appearance: none;  
  -webkit-appearance: none;
  -moz-appearance: none; 
  padding-right: 30px; 
  align-items: center;
}

.dropdown-arrow {
  position: absolute;
  right: 70px;
  font-size: 15px;
  pointer-events: none;
}

.dropdown label {
  font-size: 12px;
    font-weight: 600;
    margin-bottom: 5px;
    color: black; 
  align-items: left;
}

/* button component */
.custom-button {
  background-color: #ffefc4; 
    color: black;
    border: 1.2px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.custom-button:hover {
  background-color: #e7d290; 
  text-decoration: underline;
}

