.b-header{
  background-color: #1f355e;
  color: #BB942D;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.b-header-content {
  display: flex;
  align-items: center;
  gap: 15px;
  text-align: left;
}

.b-header-content img {
  height: 50px;
}

.text h1 {
  font-size: 1.5rem;
  margin: 0;
}

.text p {
  font-size: 12px;
  margin: 0;
}

.b-footer {
  background-color: #1f355e;
  color: #BBBBBB;
  padding: 1rem;
  text-align: center;
}


/* red footer */
.r-footer {
  background-color: #903B57;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  color: white;
  height: auto;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  z-index: 0;
}

/* sidebar */
.sidebar {
  width: 250px;
  left: 5%;
  top: 50%;
  padding: 15px;
  overflow-y: auto;
  font-size: 1rem;
}

.section-title {
  font-weight: 400;
  color: #663399; 
  padding: 10px;
  background-color: #b38b00; 
  display: flex;
  align-items: center;
}

.section-title span {
  margin-left: 6px;
}

.menu {
  list-style-type: none;
  padding: 0;
  background-color: #FFECBA;
  margin-top: 0; 
}

.menu li {
  padding: 10px;
  border-bottom: 0.5px solid #ddd;
  cursor: pointer;
  /* font-size: 14px; */
  color: #903B57;
}

.menu li:hover {
  text-decoration: underline;
  background-color: #FFECBA;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    position: relative;
    height: auto;
  }
}

/* activity header */

.a-header {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: absolute;
  background-color: white;
  height: 100px;
  width: 100%;
  top: 0;
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.a-header-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  position: relative;
  z-index: 2;
  background-color: #b38b00;
  height: 120px;
  top: 0;
  border-bottom-left-radius: 100px;
  padding: 0;
}

.logo {
  height: 125px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
  position: relative;
  z-index: 1;
}

.a-header-text{
  background-color: #b38b00;
  padding: 10px 20px;
  border-radius: 8px;
  z-index: 2;
  /* margin-left: 8rem; */
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  white-space: nowrap;

}

.a-header-text h1 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.a-header-text p {
  font-size: 14px;
  margin: 0;
  font-weight: bold;
}






/* red header */
.r-header {
  background-color: #903B57;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 1;
  overflow: hidden;
}


/* curved shape */
