* {
  font-family: "Hind Madurai", serif;
  
}

.container {
  height: 100vh;
  background-color: #d1d1d1;
  display: flex;
  flex-direction: column;
}

.auth-container {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #c69c6d;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 380px; 
  max-width: 100%;
  /* overflow: hidden; */
}
 
.auth-box h3 {
  color: white;
    text-transform: uppercase;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
    width: 100%;
    text-align: center;
}

.input-group-auth {
    display: flex;
    align-items: center; 
    justify-content: space-around;
    width: 50%;
    margin-bottom: 10px;
    margin-top: 10px;
    max-width: 350px;
}

label {
  font-weight: bold;
    color: #fff;
    text-align: left;
    min-width: 150px;
}

input,
select {
    /* flex-grow: 1; */
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    max-width: 100%;
}

.captcha-box {
    margin-bottom: 1rem;
}

.captcha-text {
  background-color: white;
    padding: 5px 10px;
    flex-grow: 1;
    text-align: center;
    font-weight: bold;
    white-space: nowrap;
    margin-top: 20px;

}

.refresh-btn {
  background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.auth-btn {
  background: #861221;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 50%;
  margin-top: 10px;
}

.auth-btn:hover {
  background: #540b15;
}

p {
  margin-top: 10px;
}

p a {
  color: #fff;
  text-decoration: underline;
}

.error {
  color: rgb(155, 0, 0);
  font-size: 0.9em;
  margin-top: 5px;
}

.strength {
  font-size: 0.9em;
  font-weight: bold;
  display: block;
  margin-top: 5px;
}

.Weak {
  color: rgb(247, 144, 144);
}

.Medium {
  color: rgb(255, 221, 159);
}

.Strong {
  color: rgb(137, 245, 137);
}

.captcha-text {
  background-color: white;
  padding: 0.5rem;
}

.forgot-password {
  text-align: center;
  margin-top: 10px;
}

.forgot-password a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.forgot-password a:hover {
  text-decoration: underline;
} 

.sidebar {
  max-width: 270px;
}

