*{
    padding: 0;
    margin: 0;
}

.home-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.background {
    position: relative;
    background: url("../../../public/images/gs-photo.jpg") no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.667); 
}

.login-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    z-index: 2;
    width: 400px;
    border: 0.5px solid #BB942D;
}



.login-btn-home {
    display: flex;
    align-items: center;
    justify-content: center; /* Center both icon and text */
    gap: 10px;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    padding: 12px 20px;
    border-radius: 10px;
    width: 100%; 
    text-align: center;
    transition: 0.3s;
}

.login-btn-home:hover {
    text-decoration: underline;
    transform: scale(1.05);
}

.icon {
    margin-right: 8px;
    font-size: 2rem;
}

